html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.margins {
  padding-top: 15px;
  padding-bottom: 15px;
}