body {
    margin: 15px;
}

.container {
    background: #ddd;
    border-style: solid;
    border-width: 15px;
    border-color: #ddd;
    border-radius: 10px;
}

.thumbnail img {
    height: auto;
    width: 100%;
}